body{
    background-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6et6PaSMREnQuADA7coS8QIWBERJW5UlS9PIKIsA43A&s=10);
    background-size: 100%;
}

h1{
    color: yellow;
    text-align: center;
}
a:link{
    text-align: center;
    font-size: x-large;

}
a{
    color: white;
}
a p{
background-color: yellow;
width: 20%;
padding: 15px 0;
text-align: center;
color: black;
font-weight: bold;
border-radius: 5px;
transition:1s all;
cursor: pointer;
margin: 15px auto;
}
a p:hover{
    background-color: yellow;
    
}

