body{
    background-color: black;
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUydDNwcnBrMTJoNXkwcHltZmNuM2UxOTNobmZvMmlqNDA3eHp0NHE5bSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/HgV0lPKaTvWjKjbTmz/200w.gif);
background-size: 100%;


}
h1{
    color: yellow;
}
