body{
    background-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdYpgKhBpXHJPw28HUsEU_PYHbyW6NYFB2xcimyJuxLQ&s=10);
    background-size: 100%;
    background-repeat: no-repeat;
}
button{
    background-color: yellow;
    color: red;
    
}