body{
    background-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpdqYsby2oT5YEBdWwLDBOhaZnk0_DlUWA-_gCRfLJYw&s=10);
    background-size: 100%;
    background-repeat: no-repeat;
}
button{
    background-color: yellow;
    color: red;
    
}