body{
    background-color: black;
    background-image: url(https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUyZTNyOHoxODF0MjByN2RvMDhwZDQxYTExc3p0ZXRqY3gzNDZ2eTBkcSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/OalJFGFBD4D2xn61qb/200.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}
button{
    background-color: yellow;
    color: red;
    
}