body{
    background-color: black;
    background-image: url(https://64.media.tumblr.com/51d7801d1483e4b92d1c58f67dd48e2d/e5161ae5b52a9007-60/s500x750/e332529e8dd43be74751fbed092cba646dd4f5de.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}
button{
    background-color: yellow;
    color: red;
}